<ion-view title="Signup">
    <ion-content>
        <div class="list list-inset">
        <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="data.email">
        </label>
        <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.password">
        </label>
				 <label class="item item-input item-floating-label">
        <span class="input-label">Repeat Password</span>
        <input type="password" placeholder="Repeat Password" ng-model="data.passwordRepeat">
        </label>
        <button ng-click="signup()" class="button button-full button-dark">
        Sign Up
        </button>
        </div>
    </ion-content>
</ion-view>
