<ion-view view-title="New Timer">
	<ion-content class="padding has-header">
		<div class="item item-divider">Floating Labels</div>

		<label class="item item-input item-floating-label">
			<span class="input-label">Telephone</span>
			<input type="tel" placeholder="Your phone">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Number</span>
			<input type="number" placeholder="Some number">
		</label>


      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search...">
        </label>
        <button class="button button-small">
          Submit
        </button>

		</div>
	</ion-content>
</ion-view>
