<ion-view view-title="New Timer">
	 <!--<ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-gear-b" ng-click="signOut()" ></button>
  </ion-nav-buttons>-->
	<ion-content class="padding has-header">

		<div class="white">
		<div class="item item-divider">New Timer</div>


			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
				<input ng-model="data.name" type="text" placeholder="Name">
			</label>

			  <!--selct color-->
			  <label   class="item item-input item-select ">
				<div class="input-label">
					<!--<a  class="button button-outline icon-right ion-android-color-palette button-dark " ng-class="{'button-calm' : data.color == 'calm' }">color</a>-->
				</div>
				<select ng-change="colorSwitch()" ng-model="data.color" class=" select-outline">
					<option  value="positive">positive</option>
					<option  value="calm" selected>calm</option>
					<option  value="balanced">balanced</option>
					<option  value="energized">energized</option>
					<option  value="assertive">assertive</option>
					<option  value="royal">royal</option>
				</select>
				<div>
					<!--have to display the button after in order for ng-class to work-->
				<button  class="button button-color button-outline icon-right ion-android-color-palette button-calm " ng-class="data.buttonColor">Color</button>
				</div>
			</label>


		</div>
		<div>
			<button ng-click="newTimer()" class="button-block padding add-button">Add</button>
		</div>

		<!--MAP-->
		
		<div class=" has-header padding">
		<button class="button round button-energized"  ng-click="map()">New Location</button>
		</div>


	</ion-content>
</ion-view>

