<ion-view class="timers-main-view" view-title="Timers">
	<!--<ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-gear-b" ng-click="signOut()" ></button>
  </ion-nav-buttons>-->
	<ion-nav-title>
		<span>Timers</span>
	</ion-nav-title>
	<ion-content class="has-header">

		<div class="list">
			<!--sort by time-->
			<label class="item item-input item-select">
				<div class="input-label">
					Most used the last
				</div>
				<select>
					<option>Day</option>
					<option selected>Week</option>
					<option>Month</option>
				</select>
			</label>


			<!--sort by groups-->
			<label class="item item-input item-select ">
				<div class="input-label ">
					Timer collection
				</div>
				<select>
					<option selected>All</option>
					<option >Work</option>
					<option>Project</option>
					<option>Personal</option>
				</select>
			</label>

			<ion-toggle ng-model="smartTracking.checked" ng-change="smartToogle()" toggle-class="toggle-positive">Smart Tracking</ion-toggle>

		</div>


		<div class="list padding">
			<buttom ng-click=" moveItem(timer,$index,0) " on-hold="showPopup(timer)"  ng-repeat="timer in timers" ng-animate="'timer'" class="button button-block button-calm" ng-class="'button-'+timer.color" ><p class="timer timer-left">{{timer.elapsedTime}}</p><p class="timer timer-center">{{timer.name}}</p><p class="timer timer-right ">{{timer.time}}</p></buttom>
		</div>

		<!-- <div class=" has-header padding timerAnimate">
			<buttom ng-click="startTracking()" on-hold="test2()"  class="button button-block button-dark">test button</buttom>
		</div>
		<div class=" has-header padding timerAnimate">
			<p class="text-center ">{{displayPosition}}</p>
		</div> -->




		<!--
<div class="row categories-list">
<div ng-repeat="category in feeds_categories" class="col col-50">
<a class="feed-category" ui-sref="app.category-feeds({categoryId: (category.title | slugify)})">
<pre-img ratio="_1_1" helper-class="square-image">
<img class="category-image" ng-src="{{category.image}}" spinner-on-load>
</pre-img>
<div class="category-bg"></div>
<span class="category-title">{{category.title}}</span>
</a>
</div>
</div>
-->
	</ion-content>
</ion-view>
