<ion-view view-title="Statistics">
 <!--<ion-nav-buttons side="right">
    <button  class="button button-icon icon ion-gear-b" ng-click="signOut()" ></button>
  </ion-nav-buttons>-->
    
   <ion-content class="padding">

   

    <div class="list">
			<!--sort by time-->
			<label class="item item-input item-select">
				<div class="input-label">
					Most used the last
				</div>
				<select>
					<option>Day</option>
					<option selected>Week</option>
					<option>Month</option>
				</select>
			</label>


			<!--sort by groups-->
			<label class="item item-input item-select ">
				<div class="input-label ">
					Timer collection
				</div>
				<select>
					<option selected>All</option>
					<option >Work</option>
					<option>Project</option>
					<option>Personal</option>
				</select>
			</label>

		</div>

     <!--<ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="">
    </ion-refresher>-->


    <div class="card">
      <div class="item item-divider">
      <p class="text-center">Charts</p>
      </div>
      <div class="item item-text-wrap">
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="color" chart-options="barOptions"></canvas>
      <canvas id="doughnut" class="padding chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="color" chart-options="barOptions"></canvas>
      </div>
    </div>

   
  

  </ion-content>
</ion-view>

<!--"{showTooltips: false, scaleShowLabels: false}"-->