/* Empty. Add your own CSS if you like */




ion-content{
		background-color: rgb(93,95,96) !important ;

}

#map {
	width: 100%;
	height: 100%;
}
.button-wrapper{
	width: 100%;
	position: absolute;
	bottom: 5%;
	text-align:center;
}


.map-button{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-button{
	margin: 1% 0%;
	padding: 0% 40%;
	border-radius: 3%;

}

.add-button{
	margin: 1.5% 0%;
}

.white{
	background-color: rgb(255,255,255) !important ;

}


.white-a{
	background-color: rgba(255,255,255,0.5) !important ;
}

.red{
	color: red;
	font-weight: lighter;
}
.green{
	color: green;
	font-weight: lighter;
}

.timer{
	display: inline;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	
}

.timer-left{
	float: left;
	font-size: 80%;
	border: solid 1px white;
	border-radius: 10px;
	padding: 0px 4px;
	height: 35px;
	line-height: 35px;
	margin-top: 4.5px;
	
	
	
	
	
}

.timer-center{
	
	text-transform: capitalize;
	position: absolute;
	
	
}

.timer-right{
	text-align: right;
	float: right;

}

.button-color {
	
	display: block;
	
	
}


.pie{
	
	
	position: absolute;
	
	left: 17%;
	padding-top: 5%;
}

.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 100%;
}

.ng-enter-active {
  margin-left: 0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 0;
}

.ng-leave-active {
  margin-left: 100%;
}

.ng-move {
 position: relative;	
 transition: all 1.5s ease;
 top: 40px;
  
 background: rgb(93,95,96) ;
}

.ng-move-active {
  transition: all 1.5s ease;
  top: 0;
  background: #fff;
}